

*{
    margin:0;
    padding:0;
}

h1 {
    text-align: center;
}

.chica-sentada {
width: 300px;
height: 500px;
margin-left: 353px;
margin-top: 58px;


}



body {
    font-family: 'Inter Tight', sans-serif;
    padding-bottom: 1000em;
}
p {
opacity: 0.8;
margin: 2em 0;

}


.banner {
    margin-top:90px ;
    width:100% ;
    background-color: rgb(238, 179, 203);
    height: 700px;
    display: flex;
    align-items: center;
    background-image: url(../img/imagenbanneryalista.jpg);
background-attachment: fixed;
}